[defaults]
inventory = ~/ansible/hosts
remote_tmp = ~/ansible/tmp
remote_user = opc
forks = 5
roles_path = ~/ansible/roles
host_key_checking = False
gathering = smart
log_path = ~/ansible/ansible.log
module_name = shell
ca_file_path = /etc/pki/tls/certs/ca-bundle.crt
private_key_file = ~/.ssh/oci_instance_key 

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
ssh_args = -o Controlmaster=auto -o ControlPersist=60s
control_path = %(directory)s/ansible-ssh-%%h-%%p-%%r
